
.todo__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}
.todo__alert--danger {
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}
.todo__content {
    margin: 0 auto;
    max-width: 1230px;
    margin-top: 100px;
}
.create-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.create-form__item {
    width: 70%;
}
.create-form__item-input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.create-form__button {
    width: 20%;
}
.create-form__button-submit {
    color: #fff;
    background-color: #000;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
}
.todo-table {
    width: 70%;
    text-align: left;
    margin: 30px auto;
}
.todo-table__inner {
    width: 100%;
}
.todo-table__row {
    border-bottom: 1px solid #ddd;
}
.todo-table__header {
    font-weight: bold;
    text-align: left;
    width: 20%;
    padding: 12px;
}
.todo-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}
.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update-form__item {
    width: 80%;
    line-height: 50%;
}
.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}
.update-form__button {
    width: 50px;
}
.update-form__button-submit {
    background-color: #0000ff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    width: 100%;
}
.delete-form__button {
    width: 50px;
}
.delete-form__button-submit {
    background-color: #ff0000;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    width: 100%;
}